## Deliverable 3. Create a Travel Itinerary Map.

In [40]:
# Dependencies and Setup
%matplotlib inline
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from configparser import ConfigParser
config = ConfigParser()
config.read('C:/Users/zionh/config_test.cfg')

g_key = config.get('google', 'g_key')

# Configure gmaps
gmaps.configure(api_key=g_key)

In [41]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv('C:/Users/zionh/OneDrive/Desktop/Class_Projects/Module_6_WeatherPy_Analysis/World_Weather_Analysis/Vacation_Search/WeatherPy_Vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Hobart,AU,83.01,few clouds,-42.8794,147.3294,Mantra on Collins Hobart
1,7,Manggar,ID,85.75,broken clouds,-2.8833,108.2667,Guest Hotel
2,12,Bambous Virieux,MU,82.22,few clouds,-20.3428,57.7575,Casa Tia Villa
3,17,Rikitea,PF,76.44,light rain,-23.1203,-134.9692,People ThankYou
4,19,Port Blair,IN,83.79,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"

In [42]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [43]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == 'Corowa']
vacation_end = vacation_df.loc[vacation_df["City"] == 'Corowa']
vacation_stop1 = vacation_df.loc[vacation_df["City"] == 'Codrington']
vacation_stop2 = vacation_df.loc[vacation_df["City"] == 'Mount Gambier']
vacation_stop3 = vacation_df.loc[vacation_df["City"] == 'Stawell']

vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
140,557,Corowa,AU,86.41,scattered clouds,-36.0333,146.3833,Statesman Motor Inn

In [45]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
startlat = vacation_start['Lat'].to_numpy()
startlng = vacation_start['Lng'].to_numpy()
start = startlat[0], startlng[0]
#end = vacation_end[['Lat', 'Lng']].to_numpy()
endlat = vacation_end['Lat'].to_numpy()
endlng = vacation_end['Lng'].to_numpy()
end = endlat[0], endlng[0]
#stop1 = vacation_stop1[['Lat', 'Lng']].to_numpy()
stop1lat = vacation_stop1['Lat'].to_numpy()
stop1lng = vacation_stop1['Lng'].to_numpy()
stop1 = stop1lat[0], stop1lng[0]
#stop2 = vacation_stop2[['Lat', 'Lng']].to_numpy()
stop2lat = vacation_stop2['Lat'].to_numpy()
stop2lng = vacation_stop2['Lng'].to_numpy()
stop2 = stop2lat[0], stop2lng[0]
#stop3 = vacation_stop3[['Lat', 'Lng']].to_numpy()
stop3lat = vacation_stop3['Lat'].to_numpy()
stop3lng = vacation_stop3['Lng'].to_numpy()
stop3 = stop3lat[0], stop3lng[0]
itinerary_map = (start, end, stop1, stop2, stop3)

In [46]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start2end_via_stop1_via_stop2_via_stop3 = gmaps.directions_layer(
        itinerary_map[0], itinerary_map[1], waypoints=[itinerary_map[2], itinerary_map[3], itinerary_map[4]],
        travel_mode='DRIVING')
fig.add_layer(start2end_via_stop1_via_stop2_via_stop3)
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,557,Corowa,AU,86.41,scattered clouds,-36.0333,146.3833,Statesman Motor Inn
1,414,Codrington,AU,79.11,clear sky,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
2,42,Mount Gambier,AU,86.22,broken clouds,-37.8333,140.7667,The Commodore
3,537,Stawell,AU,86.20,clear sky,-37.0500,142.7667,Motel Stawell

In [48]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))